@use 'variaveis';

.ofilme
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1
    {
        font-size: 60px;
        margin-top: 80px;
        color: variaveis.$corTextoSecundario;
        font-family: LifeCraft_Font;
        font-weight: normal;
    }

    p
    {
        font-size: 28px;
        padding: 60px;
        text-align: justify;
        color: variaveis.$corTextoSecundario;
        font-family: LifeCraft_Font;
        font-weight: normal;
    }

    img
    {
        width: 70vw;
    }
}